.loop02 {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    overflow: hidden;
}
.loop02__box {
    display: flex;
    animation: loop-list 50s linear infinite;
}
.loop02__item a {
    width: calc(100vw / 4);
    display: block;
}
.loop02__item img {
    width: 100%;
}


@keyframes loop-list {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}
.loop02:hover .loop02__box {
    animation-play-state: paused;
}
